#navbarDropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.invite-icon {
  height: 25px;
}

#smaller-img {
  height: 35px;
}

.dropdown-menu {
  padding: 10px;
}
.dropdown-menu li {
  padding: 5px 10px;
  text-align: end;
}
.dropdown-menu li a {
  font-weight: 800;
}
