.search-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px;
}
.search-title * {
  margin: 0;
  padding: 0;
}
.search-title h2 {
  font-weight: 900;
  color: var(--main-black);
}
.search-title h5 {
  font-weight: 700;
  color: var(--dark-gray);
  margin-bottom: 5px;
}
.search-title span {
  font-weight: 200;
  color: var(--dark-gray);
}

.search-field {
  width: 200px;
  margin-top: 20px;
  padding: 10px 20px;

  border: 1px solid var(--gray);
  border-radius: 10px;

  font-size: 17px;
  font-weight: 200;
}

.term-list {
  position: relative;
  list-style: none inside;

  width: 100%;
  margin: 0 auto 2em;
  padding: 5px 10px 0;

  text-align: left;
  color: #777;
  font-weight: 400;

  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.term-list a {
  color: var(--main-black);
  text-decoration: none;
}
.term-list li {
  padding: 10px 3px;
  border-bottom: 1px solid var(--main-gray);
  opacity: 0.7;
}
.term-list img {
  height: 15px;
  margin: 3px;
  opacity: 0.7;
}
.term-list li:hover {
  opacity: 1;
}
